<app-navigation title='CONTACT'></app-navigation>
<div class='body-container'>
    <mat-card>
        <h2 style="text-align: center; color: blue;">CONTACT ME THROUGH:</h2>
        <mat-list>
            <mat-list-item>
            <a href="#" class="fa fa-twitter"></a><span style="margin-left: 11px;">Twitter Account: Reyn@28Jane</span> 
        </mat-list-item>  
        <mat-list-item>
            <a href="#" class="fa fa-google"></a><span style="margin-left: 10px;">Google Account: reynaldo.ellasojr@evsu.edu.ph</span> 
        </mat-list-item>
        <mat-list-item>
            <a href="#" class="fa fa-github"></a><span style="margin-left: 10px;">Github Account: ReynaldoEllasoJr</span> 
        </mat-list-item>
        <mat-list-item>
            <a href="#" class="fa fa-instagram"></a><span style="margin-left: 10px;">Instagram Account: Reyn@28Jane09</span> 
        </mat-list-item>
        
           
        </mat-list>
    </mat-card>
</div>
