<app-navigation title='PROFILE'></app-navigation>

<app-navigation title='PROFILE'></app-navigation>
<div class='profile-container'>
  <div class='content-container'>
    <mat-card class="example-card">
      <mat-card-header class="card">
        <img mat-card-avatar src="https://i.pinimg.com/736x/f5/7f/44/f57f44bb12aa4e8a0415fe37fdd8445b.jpg" alt='avatar' class="profile">
        <mat-card-title>Reynaldo "Sanix" Brusas Ellaso Jr.</mat-card-title>
        <mat-card-subtitle>Student/Penmantologist/FutureGameDeveloper/Web Developer</mat-card-subtitle>
        <mat-card-subtitle>BSIT-3C</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t39.30808-6/213558467_1431847857181282_6764128409046022531_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_eui2=AeFnhFVn1SxFhPObfxefJnQVnRf8i3_TfOydF_yLf9N87NXfDKI54V6Mp9DworPpt_nOOGzI7aZPuZILjbRjLYSt&_nc_ohc=cjLLE3jlioAAX8Zir9_&tn=f1N4HyAUssnAatwi&_nc_zt=23&_nc_ht=scontent.fceb1-1.fna&oh=00_AT-TqeE611muEujSaj0Tgj18j-ZCihNK5Y2Bp4YFPEFYGg&oe=62506E20" alt="cute_sanix" class='sanix-photo'>
        <mat-list>
          <mat-list-item>
            <mat-icon>school</mat-icon>
            <p>School Name: EVSU - Carigara Campus </p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>info</mat-icon>
            <p>Course: BSIT</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>done</mat-icon>
            <p>Age: 26</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>location_on</mat-icon>
            <p>Address: Brgy. Balud Barugo, Leyte  PHILIPPINES</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>phone_contact</mat-icon>
            <p>Contact No.: 09109679***</p>
          </mat-list-item>

          <mat-card-actions>
            <button mat-button (click)='isClickLike=!isClickLike'
                    [ngClass]='{"like" : isClickLike }' ><mat-icon>thumb_up</mat-icon></button>
                    
                    
                     
            <button mat-button (click)='isClickHeart=!isClickHeart'
                    [ngClass]='{"heart" : isClickHeart }'><mat-icon>favorite</mat-icon></button>
          </mat-card-actions>
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment...</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>


        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
